// Custom bootstrap

$theme-colors: (
  "primaryP": #d8ddd9,
  "secondaryP": #ffc901,
);

// Custom class

.text-underline-hover:hover {
  text-decoration: underline;
}

.titleShop {
  font-family: "Courier New", Courier, monospace;
}

.textDecorationNone {
  text-decoration: none;
}

// css

#body {
  background: #333632;
  background: linear-gradient(190deg, #333632 0%, #242424 100%) no-repeat center
    center fixed;
}

.titleNavbar {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: x-large;
  text-decoration: none;
}

#basket {
  position: relative;
  font-size: 25px;
}

#numberShop {
  position: absolute;
  transform: translate(-7px);
  border-radius: 15px;
  padding: 2px 7px;
  font-size: 13px;
}

// import bootstrap

@import "../../node_modules/bootstrap/scss/bootstrap";
