.titleProduct{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
    color: $primary;
    margin-bottom: 120px;
}




section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  

  &Btn{
    margin-top: 15px;
    background-color: rgb(51,54,50); 
    color: $primary;
    border: solid 2px $primary;
    height: 50px;
    width: 200px;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0 0 16px #0000002e;
    cursor: pointer;
  }
}

.card {
  background-color: $secondary;
  border: solid 2px $primary;
  border-radius: 10px;
  box-shadow: 0 0 16px #0000002e;
  width: 350px;
  height: 420px;

  &Img {
    margin-top: 1px;
    border-radius: 10px 10px 0 0;
    width: 345px;
    height: 250px;
    object-fit: cover;
    border-bottom: solid 2px $primary;
  }

  &Description {
    &Name {
      display: flex;
      justify-content: center;
      color: black;
      margin-bottom: 3px;
    }

    &Notation {
      display: flex;
      justify-content: center;
      color: black;
      margin-bottom: 3px;
    }

    &Price {
      display: flex;
      justify-content: center;
      color: black;
      margin-bottom: 3px;
    }
  }

  &Text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin : 4px;
    color: black;
    font-size: 20px;
  }
}
